.timeline {
  position: relative;
  padding: 50px 0;
  margin: 0;
}
.timeline > .timeline-path {
  position: absolute;
  left: 50%;
  background-color: #cccccc;
  width: 3px;
  height: 100%;
  margin-top: -50px;
}
.timeline .timeline-year {
  padding: 20px 0;
}
.timeline .timeline-year > span {
  background-color: #2c98e8;
  border: 10px solid #5aaeed;
  color: #ffffff;
  padding: 40px;
  border-radius: 100%;
  display: inline-block;
  z-index: 100;
  position: relative;
}
.timeline .event-connector {
  position: absolute;
  top: 40px;
  width: 20%;
  border-bottom: 1px dotted #cccccc;
}
.timeline .event-left .event {
  float: left !important;
}
.timeline .event-left .event-connector {
  right: -20%;
}
.timeline .event-right .event {
  float: right !important;
}
.timeline .event-right .event-connector {
  left: -20%;
}
.timeline .event-left + .event-left,
.timeline .event-right + .event-right {
  margin-top: 40px;
}
@media (max-width: 991px) {
  .timeline .timeline-path {
    left: 48px;
  }
  .timeline .timeline-year {
    text-align: left;
  }
  .timeline .timeline-year > span {
    padding: 20px;
  }
  .timeline .event-right .event,
  .timeline .event-left .event {
    float: none !important;
  }
  .timeline .event-right .event-connector,
  .timeline .event-left .event-connector {
    left: -30px;
    width: 30px;
  }
  .timeline .event-left .event-connector {
    right: 0;
  }
  .timeline .event-left,
  .timeline .event-right {
    margin-left: 80px;
  }
  .timeline .event-left + .event-right,
  .timeline .event-right + .event-left {
    margin-top: 40px;
  }
}
.event {
  width: 475px;
  position: relative;
  background-color: #333333;
  padding: 0;
  border-radius: 5px;
  color: #ffffff;
}
.event > h3 {
  font-size: 28px;
}
.event .event-header,
.event .event-body,
.event .event-footer {
  margin: 0;
  padding: 10px;
}
.event .event-header,
.event .event-body {
  border-bottom: 1px solid #1a1a1a;
}
.event .event-body {
  min-height: 125px;
}
.event .event-body > img {
  min-width: 100%;
  max-width: 100%;
}
.event .event-body,
.event .event-footer {
  border-top: 1px solid #595959;
}
.clearfix:before,
.clearfix:after {
  content: " ";
  display: table;
}
.clearfix:after {
  clear: both;
}
.text-center {
  text-align: center !important;
}
