//
// Timeline v0.1.0
// --------------------------------------------
//

@import "variables";

.timeline {
  position:  relative;
  padding: 50px 0;
  margin: 0;

  > .timeline-path {
    position: absolute;
    left: 50%;
    background-color: @timeline-path-bg;
    width: 3px;
    height: 100%;
    margin-top: -50px;
  }

  .timeline-year {
    padding: 20px 0;

    > span {
      background-color: @timeline-year-bg;
      color: @timeline-year-color;
      padding: 40px;
      border-radius: 100%;
      display: inline-block;
      z-index: 100;
      position: relative;
    }
  }

  .event {
    position: relative;
    background-color: @timeline-event-bg;
    padding: 0;
    border-radius: 5px;
    color: @timeline-event-color;

    .event-header,
    .event-body,
    .event-footer {
      margin: 0;
      padding: 10px;
    }

    .event-header,
    .event-body {
      border-bottom: 1px solid @timeline-event-border-thick-color;
    }

    .event-body {
      min-height: 125px;

      > img {
        min-width: 100%;
        max-width: 100%;
      }
    }

    .event-body,
    .event-footer {
      border-top: 1px solid @timeline-event-border-light-color;
    }

    @media (max-width: @screen-small-max) {
      width: 100%;
    }

    @media (min-width: @screen-medium-min) {
      width: 41.66666666666667%;
    }

    .event-connector {
      position: absolute;
      top: 40px;
      width: 20%;
      border-bottom: 1px dotted @timeline-connector-color;

      @media (max-width: @screen-small-max) {
        display: none;
      }
    }
  }

  .event-left {
    .event {
      float: left !important;
    }

    .event-connector {
      right: -20%;
    }
  }

  .event-right {
    .event {
      float: right !important;
    }

    .event-connector {
      left: -20%;
    }
  }

  .event-left + .event-left,
  .event-right + .event-right {
    margin-top: 40px;
  }

  @media(max-width: @screen-small-max) {
    .event-left + .event-right,
    .event-right + .event-left {
      margin-top: 40px;
    }
  }
}

.text-center {
  text-align: center !important;
}

.clearfix {
  &:before,
  &:after {
    content: " ";
    display: table;
  }
  &:after {
    clear: both;
  }
}